body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--grey);
  background-color: var(--lightgrey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  display: block;
  margin: 8px;
}
.whole-page {
  background-color: var(--white);
  width: 1600px;
  margin: 0 auto;
}
.header {
  align-items: center;
  gap: 93px;
  flex-direction: row;
  padding: 25px 0 24px 0;
  display: flex;
}
header {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.link-no-underline {
  text-decoration: none;
}
.link-style {
  font-family: "Raleway";
  color: var(--black);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
}
.text-blue {
  background-color: var(--white);
  width: 1600px;
  margin: 0 auto;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav-style {
  gap: 46px;
  line-height: 1.2;
  padding: 0;
}
.nav-list {
  display: flex;
  list-style: none;
  line-height: 1.2;
  margin: 0;
}
.contacts-style {
  gap: 50px;
  padding: 0 0 0 278px;
  margin: 0;
}
.contact-link-style {
  color: var(--grey);
  font-weight: 500;
}
.header-separator {
  border-bottom: var(--lightcream) solid 1px;
}
div {
  display: block;
}
.button-type {
  background-color: var(--notwhite);
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border-radius: 3px;
  padding: 6px 22px;
  font-family: "Roboto";
}
.product-portfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
  list-style: none;
}
.product-part {
  border: var(--productborder) solid 1px;
  width: 370px;
  height: 404px;
}
.portfolio-img-title {
  color: var(--darkgrey);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  margin: 20px 0 4px 24px;
}
.portfolio-part-info {
  line-height: 1.88;
  font-size: 16px;
  margin: 0 0 0 24px;
}
footer {
  display: block;
}
.footer {
  width: 100%;
  background-color: var(--darkgrey);
  padding: 60px 0;
}
.footer-container {
  flex-direction: column;
  color: var(--white);
}
.white-style-logo {
  color: var(--white);
}
.address-style {
  margin: 20px 0 0 0;
  font-style: normal;
}
address {
  display: block;
  font-style: italic;
}
.footer-type {
  color: var#ffffff99;
}
